{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/create_post.css' %}" rel="stylesheet">
<header class="masthead shadow-sm">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Tạo bài viết mới </h3>
                    <!-- <p class="text-light">Chia sẻ câu truyện của bạn tại đây! &nbsp </p> -->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="shadow-sm p-3 container mt-5 mb-5 border">
    <div class="mb-3 row">
        <form class="needs-validation" method="post" action="{% url 'create_post' %}" novalidate>
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề" required>
                <label for="title">Tiêu đề</label>
                <div class="invalid-feedback">
                    Tiêu đề không được để trống
                  </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="content" name="content" placeholder="Nội dung bài viết" required></textarea>
                <label for="content">Nội dung</label>
                <div class="invalid-feedback">
                    Nội dung bài viết không được để trống
                  </div>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="status" name="status">
                    <option value="0">Bài nháp</option>
                    <option value="1">Bài đăng</option>
                </select>
                <label for="status">Trạng thái bài đăng</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Lưu bài viết</button>
            <a href="{% url 'home' %}" class="btn btn-outline-primary btn-lg">Hủy bỏ</a>
        </form>
    </div>
</div>
<script src="{% static 'js/create_post.js' %}"></script>
{% endblock %}